# Laravel - Server folder
/src/vendor
/src/.env
/src/.phpunit.cache
/src/node_modules
/src/public/vendor
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/.php-cs-fixer.cache

# MySQL Database - DB folder
/mysql
/redis
*.sql
*.sql.gz

# PHPStorm - .idea folder
/.idea
.env
